@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #17a2b7;
  --bg-light: #c4f7ff;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--main-color);
}

a:hover {
  color: var(--main-color)
}

/*primary color*/
.bg-blue-light {
  background-color: var(--bg-light);
}

.bg-yellow-500 {
  background-color: #F48C06;
}
.text-yellow-500 {
  color: #F48C06;
}
.floating { 
  animation-name: floating; 
  animation-duration: 3s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out;
} 
@keyframes floating { 
  0% { transform: translate(0, 0px); } 
  50% { transform: translate(0, 8px); } 
  100% { transform: translate(0, -0px); }  
} 
.floating-4 { 
  animation-name: floating; 
  animation-duration: 4s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out;
} 
@keyframes floating-4 { 
  0% { transform: translate(0, 0px); } 
  50% { transform: translate(0, 8px); } 
  100% { transform: translate(0, -0px); }  
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: Quicksand;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Quicksand;
}
.ant-menu-item-selected {
  padding-bottom: 12px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-in-out;
}